---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/LoginNav.astro';
import Login from '../components/LoginLanding.astro';
---

<Layout title="Envirosense">
	<section class="w-full h-screen px-16 pb-8 flex flex-col bg-[#00091d]">
		<Nav/>
		<Login/>
	</section>
</Layout>