---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';
import Darkmode from '../components/Darkmode.astro'
---

<Layout title="Envirosense">
	<header class="flex justify-between w-screen h-36 bg-[#FFFBF8] items-center px-24">
		<div class="flex items-center gap-3">
			<Icon/>
			<h1 class="font-codec-bold text-4xl">Envirosense</h1>
		</div>
		<div class="flex items-center justify-evenly gap-16">
			<button class="transition duration-300 ease-in-out hover:scale-110"><Darkmode/></button>
			<button class="font-codec-regular border-b-[1px] border-transparent transition duration-300 ease-in-out hover:scale-110 hover:border-[#02142B]">About us</button>
			<button class=" font-codec-bold w-40 h-12 flex bg-[#02142B] text-[#F7F2B7] rounded-3xl transition duration-300 ease-in-out hover:scale-110 items-center justify-center">Login as guest</button>
		</div>
	</header>
	<div class="mx-4 mb-6 w-11/12 h-screen border-2 border-[#02142B] rounded-[48px] bg-[#FFFBF8]">
	</div>
</Layout>